<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>List Reorder</ion-title>
    <ion-button slot="end" (click)="toggleReorderGroup()" fill="none">
      <ion-icon
        slot="icon-only"
        [name]="reorderGroup?.disabled? 'ellipse-outline' : 'ellipse'"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ion-item *ngFor="let class of classes; let i = index">
        <ion-label>{{ class }}</ion-label>
        <ion-reorder slot="end">
          <ion-icon name="pizza-outline"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>
