<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Segment</ion-title>
  </ion-toolbar>

  <ion-segment value="" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>


  <ion-list *ngIf="(superHeroes | async)?.length > 0">

    <ion-item *ngFor="let hero of (superHeroes | async) | filter: publisher:'publisher'" class="animate__animated animate__backInRight">
      <ion-label>
        <h3>{{ hero.superhero }} <small>{{ hero.alter_ego }}</small></h3>
        <p>{{ hero.first_appearance }}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right">{{ hero.publisher }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="(superHeroes | async) === null">

    <ion-item *ngFor="let hero of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
      </ion-label>
      <ion-skeleton-text animated style="width: 40px; height: 40px;" slot="end" class="ion-text-right"></ion-skeleton-text>
    </ion-item>
  </ion-list>

</ion-content>
