<app-header title="Card"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus distinctio
      voluptates id ipsa laudantium ex temporibus culpa sequi officia explicabo
      ducimus recusandae magni provident dignissimos, illum et perferendis!
      Obcaecati, repellat.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img
      src="https://media.vandal.net/i/1200x630/5-2020/202051918424075_1.jpg"
    ></ion-img>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur qui
      molestias nihil delectus, adipisci debitis atque natus porro similique
      reprehenderit, amet dolores temporibus accusantium odit? Sed voluptas iure
      hic minima.
    </ion-card-content>
  </ion-card>

</ion-content>
