<app-header [title]="name || 'Input Forms'"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Normal Inputs</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input
        type="text"
        placeholder="Name..."
        [(ngModel)]="name"
      ></ion-input>
    </ion-item>
  </ion-list>

  <form (ngSubmit)="save()" #myForm="ngForm">
    <ion-list-header>
      <ion-label>My Form: {{ myForm.valid }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input
        [(ngModel)]="user.email"
        name="email"
        type="email"
        placeholder="test@test.com"
        required
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input
        [(ngModel)]="user.password"
        name="password"
        type="password"
        placeholder="*********"
        required
        minlength="6"
      ></ion-input>
    </ion-item>

    <ion-button type="submit"  expand="full" fill="outline" shape="round" [disabled]="myForm.invalid">
      Submit
    </ion-button>
  </form>
</ion-content>
